{% extends 'base.html' %}

{% block body %}

    <main class="mt-3">
        <div class="container" style="margin-top: 8rem; margin-bottom: 166px;">
            <div class="alert alert-success col-sm-4" style="margin: auto;">
                <h5 style="text-align:center; font-weight: bold;"> The password has been changed! :) </h3>
            </div><br>
            <a href="{% url 'login' %}" style="margin-left:464px; color:red; font-weight: bold;"> Click here to login again.. </a>    
        </div>
    </main>
{% endblock body %}